body {
  background-color: purple;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  height: 100%;
}

#myBox {
  background-color: blue;
  width: 120px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
